aiohttp
asyncio
bleach==5.0.1
numpy
img2pdf
ffmpeg-python
redis
Python_ARQ
motor
multicolorcaptcha
ptbcontrib @ git+https://github.com/python-telegram-bot/ptbcontrib.git@main
Pillow
psutil
psycopg2
telegraph==2.2.0
Telethon==1.26.1
python-telegram-bot==13.15
wget
pyyaml
python-arq
pykeyboard==0.1.5
pymongo==4.3.3
pyparsing==3.0.9
pyrate-limiter==2.8.4
pretty_errors
future
fuzzysearch==0.7.3
fake-useragent==1.1.1
beautifulsoup4==4.11.1
better-profanity==0.7.0
aiofiles==22.1.0
search-engine-parser
SQLAlchemy==1.4.45
opencv-python-headless==4.7.0.68
jikanpy==4.3.2
emoji==2.2.0
markdown2==2.4.6
wikipedia==1.4.0
alphabet-detector==0.0.7
pymongo[srv]
envparse==0.2.0
cloudscraper==1.2.66
gpytranslate==1.4.0
hachoir==3.2.0
secureme
gTTS
pyrogram
ujson
regex
bs4
youtube_dl==2021.12.17
unidecode
